
<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-category">Меню</li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Главная</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'docs' %}">
              <i class="mdi mdi-file-multiple menu-icon"></i>
              <span class="menu-title">Документы</span>
            </a>
          </li>
        </ul>
      </nav>
